@model IEnumerable<ProyectoHotelNT1.Models.Huespedes>

@{
    ViewData["Title"] = "Huespedes";
}

<h2>Huespedes alojados en la habitacion</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                DNI
            </th>       
            <th>
                Fecha ingreso
            </th>
            <th>
                Fecha salida
            </th>
            <th>
                Dias hospedado
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEgreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasHospedado)
            </td>

        </tr>
        }

    </tbody>

</table>

<a asp-action="Index"><i class="fas fa-arrow-left"></i> Volver</a>
